@import "../../theme/colors.module.scss";

.screen {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightGray;
}

h1,
h2 {
    margin: 0;
}

.container {
    border-radius: 20px;
    background-color: white;
    flex-direction: row;
    display: flex;
    height: 99%;
    max-width: 95vw;
    width: 95vw;
    justify-content: space-between;
    position: fixed;
}

.routes_container {
    flex-grow: 1;
    padding: 10px;
    max-width: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.right_empty_space {
    min-width: 280px;
}

.left_empty_space {
    min-width: 80px;
}

@media screen and (max-width: 1450px) {

    .routes_container {
        max-width: 70%;
    }
}


@media screen and (max-width: 1200px) {

    .routes_container {
        max-width: 65%;
    }
}

@media screen and (max-width: 1070px) {

    .routes_container {
        max-width: 60%;
    }
}

@media screen and (max-width: 950px) {

    .routes_container {
        max-width: 55%;
    }
}

@media screen and (max-width: 850px) {

    .routes_container {
        max-width: 50%;
    }
}
