@import '../../../theme/colors.module.scss';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid $gray;
    padding-bottom: 20px;

    .text_container {
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        height: 45px;
    }

    .pic_container, .icon_container{
        flex: 1
    }

    .pic_container{
        margin-left: 15px ;
    }

    .icon_container{
        cursor: pointer;
    }


}
