@import "../../../theme/colors.module.scss";

.container {
    background-color: $red;
    border-radius: 15px;
    padding: 15px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;;

    .right_container {
        display: flex;
        justify-content: space-around;

        .icon {
            padding: 5px;
            transition: all 0.5s;
            border-radius: 5px;
            border: 1px solid transparent;
        }

        .icon:hover {
            cursor: pointer;
            border: 1px solid $lightGray;
        }
    }
}


